<div class="main-content flex-grow-1">
  <div class="row">
    <div class="col-md-6 p-1">
      <mat-card class="half-card">
        <mat-card-title class="card-head">User Analysis
          <button mat-raised-button color="primary">Show All</button>
        </mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <span class="data-label">Active Users:</span><span
              class="data-value-green">5000</span><br/>
              <span class="data-label">Pending Users:</span><span class="data-value-blue">5000</span><br/>
              <span class="data-label">Active RFID's:</span><span
              class="data-value-green">5000</span><br/>
              <span class="data-label">Pending RFID's:</span><span class="data-value-blue">5000</span><br/>
            </div>
            <div class="col-md-6">

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 p-1">
      <mat-card class="half-card">
        <mat-card-title class="card-head">Total Chargers: 3
          <button mat-raised-button color="primary">Show All</button>
        </mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-4 p-1"><mat-card class="grey-card"></mat-card></div>
            <div class="col-md-4 p-1"><mat-card class="grey-card"></mat-card></div>
            <div class="col-md-4 p-1"><mat-card class="grey-card"></mat-card></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
